# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**

*.log
# IntelliJ
out/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Java ###
# Compiled class file
*.class

application.properties
/home/yoni/Documents/projects/andybrook/src/main/resources/application.properties