<div class="container-fluid">
  <div class="row">
    <div class="col">
      <store-info [storeId]="storeId"></store-info>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <store-orders [storeId]="storeId"></store-orders>
    </div>
    <div class="col">
      <open-closed-orders-counter [storeId]="storeId"></open-closed-orders-counter>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <amount-orders-chart [storeId]="storeId"></amount-orders-chart>
    </div>
    <div class="col"></div>
  </div>
</div>