<div class="container-fluid" style="border-bottom: 3px solid red">
  <div class="row justify-content-between">
    <div class="col-md-4">
      <h5>{{ order.name }}</h5>
      <p>Description/Comment : {{ order.comment }}</p>
      <div style="overflow: hidden;">
        <p style="float: left">Customer : &nbsp;</p>
        <p style="float: left; font-weight: bold"> {{ order.storeName }}</p>
      </div>
      <div style="overflow: hidden;">
        <p style="float: left;">Status :&nbsp;</p>
        <p style="float: left; font-weight: bold"> {{ order.status }}</p>
      </div>
    </div>
    <div class="col-md-6">
        <button
          style="float: right"
          class="btn btn-outline-info"
          (click)="onClickCloseOrder()"
          [disabled]="order.status === 'CLOSED'"
        >Close the order</button>
    </div>
  </div>
</div>