<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h5>{{ order.aggregatedOrderInfo.name }}</h5>
    </div>
    <div class="col">
      <p>Comment : {{ order.aggregatedOrderInfo.comment }}</p>
    </div>
    <div class="col">
      <div style="overflow: hidden;">
        <p style="float: left">Store : &nbsp;</p>
        <p style="float: left; font-weight: bold"> {{ order.aggregatedOrderInfo.store.name }}</p>
      </div>
    </div>
    <div class="col">
      <div style="overflow: hidden;">
        <p style="float: left;">Status :&nbsp;</p>
        <p style="float: left; font-weight: bold"> {{ order.aggregatedOrderInfo.status }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row justify-content-between">
          <div class="col-4">
              <button
                class="btn btn-outline-primary"
                (click)="onClickAddOrderItem()"
                [disabled]="order.status === 'CLOSED'"
              >Add Order Item</button>
          </div>
          <div class="col-4">
              <button
                style="float: right"
                class="btn btn-outline-info"
                (click)="onClickCloseOrder()"
                [disabled]="order.status === 'CLOSED'"
              >Close the order</button>
          </div>
      </div>
    </div>
  </div>    
  <br>
</div>