<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">New Order</h4>
  <button type="button" class="close" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="createOrderForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" formControlName="name"
          class="form-control"/>
          <label *ngIf="isFormSubmitted && createOrderForm.get('name').invalid" class="text-danger">A name is required.</label>
      </div>

      <div class="form-group">
        <label for="comment">Comment/Description</label>
        <input type="text" formControlName="comment"
          class="form-control"/>
      </div>

      <div class="form-group">
        <label for="store">Store</label>
        <select type="text" formControlName="stores"
          class="form-control">
          <option *ngFor="let store of storesArray"
            [ngValue]="store">{{ store.id }} | {{ store.name }} | {{ store.owner.firstName }} {{ store.owner.lastName }}</option>
        </select>
        <label *ngIf="isFormSubmitted && createOrderForm.controls['stores'].invalid" class="text-danger">A store is required.</label>
      </div>
      
      <div>
          <ngb-alert *ngIf="errorMessage" type="danger" [dismissible]="false" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark">Create</button>
  </div>
</form>