<div class="row justify-content-between">
  <div class="col">
    <h2>{{ report.name }}</h2>
    <p>{{ report.comment }}</p>
    <div style="overflow: hidden;">
      <p style="float: left">Customer : &nbsp;</p>
      <p style="float: left; font-weight: bold"> {{ report.customerName }}</p>
    </div>
    <div style="overflow: hidden;">
      <p style="float: left;">Status :&nbsp;</p>
      <p style="float: left; font-weight: bold"> {{ report.status }}</p>
    </div>
  </div>
  <div class="col">
      <button
        class="btn btn-outline-info"
        (click)="onClickCloseReport()"
        [disabled]="report.status === 'CLOSED'"
      >Close the report</button>
  </div>
</div>