/* Scroll Bar Aggregated Order Item table */
.my-custom-scrollbar {
    position: relative;
    max-height: 300px;
    overflow: auto;
  }
  
.table-wrapper-scroll-y {
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}