<div class="card shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card-header">
        <h5>Orders ({{ orders.length }})</h5>
    </div>
    <div class="card-body">
        <div *ngIf="orders" class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Products</th>
                        <th>Qty</th>
                        <th>Amount</th>
                        <th>Creation</th>
                        <th>Closed</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td>{{ order.id }}</td>
                        <td>{{ order.name }}</td>
                        <td [ngClass]="order.status === 'OPEN' ? 'table-success' : 'table-danger'">{{ order.status }}</td>
                        <td>{{ order.aggregatedOrderInfo.productSize }}</td>
                        <td>{{ order.aggregatedOrderInfo.orderItemSize }}</td>
                        <td>{{ order.aggregatedOrderInfo.totalPrice }} €</td>
                        <td>{{ order.createdDatetime  | date:'shortDate' }}</td>
                        <td>{{ order.closeDatetime  | date:'shortDate' }}</td>
                        <td>
                            <button
                                class="btn btn-success btn-sm"
                                [routerLink]="['/order', order.id]"
                            >See</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <img *ngIf="! orders" class="center" src="../../../../assets/icon/LoadingGrey.gif">
    </div>
</div>
