<div>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Order Notification Setting</h3>
    <button type="button" class="close" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="notifType">Notification Type</label>
        <select formControlName="docTypesSelect" class="custom-select" (change)="onChangeType($event)" required>
            <option *ngFor="let type of docTypesMapByName.keys()" [ngValue]="type">{{ type }}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="selectedType">
        <label for="formats">Formats</label>
        <div class="form-inline">
          <div formArrayName="formats" *ngFor="let format of form.get('formats').controls; let i = index;">
            <label class="checkbox-inline" style="margin-right:25px" for="format">{{ selectedType.supportedFormats[i] }}&nbsp;
              <input formControlName="format" type="checkbox">
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="dateDocument">Document's Date</label>
        <div class="input-group">
          <input formControlName="dateDocument" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-outline-secondary btn-sm" (click)="addEmailInput()" style="float:right">
        <span class="glyphicon glyphicon-plus"></span>+
      </button>
      <div formArrayName="emailInputs" *ngFor="let input of form.get('emailInputs').controls; let i = index;">
        <div [formGroupName]="i">
          <label for="email">Email {{ i + 1 }} </label>
          <input formControlName="email" class="form-control" style="margin-bottom: 6px">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSubmit()" [disabled]="! form.valid">Notify</button>
  </div>
</div>