
<ng-template #content let-modal>
    <p>aaa</p>
</ng-template>
<div class="container-fluid">
    <div>
        <button class="btn btn-primary"
            (click)="openCreateReportModal()"
        >New Report</button>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <input #searchString type="text"
                class="form-control"
                (keyup.enter)="onClickSearch(searchString.value)"
                placeholder="Type to search order...">
        </div>
        <div class="col-md-2">
            <button
                [disabled]="searchButtonDisabled"
                class="btn btn-info"
                (click)="onClickSearch(searchString.value)"
            >Search</button>
        </div>
    </div>
    <br>
    <h3 style="color: dimgray" *ngIf="reports.length == 0">{{ noOrdersFoundMessage }}</h3>
    <div *ngIf="reports.length > 0">
        <list-reports
            [reports]="reports"
        ></list-reports>
    </div>
</div>