<div class="container-fluid">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label class="form-check-label" for="notification">Notification &nbsp;</label>
          <input type="checkbox" formControlName="notification" class="form-check-input" (input)="settingChanged()">
      </div>
      <div class="form-group">
        <label for="Email">Email addresses
          <span style="font-size: 80%; font-style: italic">(Use comma ',' delimiter for multiple emails)</span
        ></label>
        <input type="text" formControlName="emails"
          (input)="settingChanged()"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="itemToShow">List item number to load by default</label>
        <input type="text" formControlName="itemToShow"
          (input)="settingChanged()"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="saveButtonDisabled">Save</button>
      </div>
    </form>
    <ngb-alert *ngIf="alertMessage" type="success" (close)="alertMessage = null">{{ alertMessage }}</ngb-alert>
</div>