<div class="container-fluid">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label class="form-check-label" for="exampleCheck1">Notification &nbsp;</label>
          <input type="checkbox" formControlName="notification" class="form-check-input" (input)="settingChanged()">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email addresses</label>
        <input type="text" formControlName="emails"
          (input)="settingChanged()"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="saveButtonDisabled">Save</button>
      </div>
    </form>
</div>