<div class="card w-100 shadow-sm p-3 mb-5 bg-white rounded">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h5>Stores</h5>
      </div>
      <div class="col" style="float:right">
        <input #searchInput type="search"
          class="form-control form-control-sm"
          (keyup.enter)="onClickSearch(searchInput.value)"
          placeholder="Type to search a customer...">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let store of stores" (click)="onClickStore(store)">
                <td>{{ store.id }}</td>
                <td><a [routerLink]="['/store', store.id]">{{ store.name }}</a></td>
                <td>{{ store.owner.firstName + " " + store.owner.lastName }}</td>
                <td>{{ store.address.streetNumber + ', ' + store.address.streetName }}
                <td>{{ store.address.city }}</td>
                <td>{{ store.address.country }}</td>
                <td>{{ store.phone }}</td>
                <td>{{ store.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>  
</div>