<div class="row justify-content-between">
  <div class="col-5">
    <!--<form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
          </div>
          <input type="text"
            class="form-control"
            name="searchString"
            placeholder="Type to search..."
            [(ngModel)]="searchString">
        </div>
      </div>
    </form>-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Total Price</th>
          <th>Last Modified Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderItems | filter : 'name' : searchString; let i = index"
        (mouseover)="setSelectedRow(i)"
        (click)="onClickShowSelectedOrderItems(item.orderItems)"
          [class.active]="i == selectedRow">
          <td>{{ i+1 }}</td>
          <td>{{ item.product.name }}</td>
          <td>{{ item.product.price }} €</td>
          <td
            contenteditable="order.status !== 'CLOSED'"
            (blur)="onChangeOrderItemQuantity(item, $event)">
            {{ item.quantity }}
          </td>
          <td>{{ item.ttlPrice }} €</td>
          <td>{{ item.lastModifiedDatetime }}</td>
          <td>
            <button *ngIf="order.status !== 'CLOSED'"
            (click)="onClickDeleteOrderItemButton(i, item.orderItems)"
            [disabled]="deleteOrderItemInProgressArray[i]"
            class="btn btn-danger btn-sm">
                <span *ngIf="deleteOrderItemInProgressArray[i]" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-7">
    <selected-order-items-list
      [selectedOrderItems]="selectedOrderItems"
      [order]="order"
      (onDeleteOrderItemEvent)="deleteSingleOrderItem($event)"
    ></selected-order-items-list>
  </div>
</div>
