.table tr.active td {
    background-color:#275e94 !important;
    color: white;
    font-weight: bold;
    white-space: nowrap;
  }

.table table-striped tr td {
  padding: 1.5%;
}

/* Scroll Bar Aggregated Order Item table */
.my-custom-scrollbar {
  position: relative;
  max-height: 450px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

